:root {
	--main-background-color: #0A0D0F;
	--main-border-color: #40454A;
	--secondary-border-color: #20252A;
	--main-foreground-color: #dddddd;
	--secondary-foreground-color: #666666;
	--main-info-color: #ff7f8a;/* #64cfdb; */
	--secondary-info-color: #7f3339;/* #266f77; */
	--main-hover-color: #64cfdb;
	--main-active-color: #266f77;
	/* BUTTONS */
	--restore-hover-color: #00ff6a;
	--restore-active-color: #007f35;

	--restore-and-remove-hover-color: #ffef3f;
	--restore-and-remove-active-color: #7f7400;
	
	--remove-hover-color: #ff4252;
	--remove-active-color: #cc1426;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    width: 400px;
    height: 550px;
    border: solid 3px var(--main-border-color);
	background-color: var(--main-background-color);
}

#dummy {
	position: fixed;
	visibility: hidden;
}

input:focus {
	outline: none; 
}

::placeholder {
	opacity: 1.0;
	color: var(--secondary-foreground-color);
}

#header_loading {
	font-family: "Josefin Sans", sans-serif;
	color: var(--secondary-foreground-color);
	text-align: center;
	height: 60px;
	font-size: 35.5px;
	line-height: 60px;
}

#header {
	width: 100%;
	height: max-content;
	border-bottom: solid 3px var(--main-border-color);
}

#window_name {
	display: none;
	box-sizing: border-box;
    background-color: var(--main-background-color);
	margin: 0px;
	font-size: 35.5px;
	font-family: "Josefin Sans", sans-serif;
	padding: 2px;
	padding-top: 12px;
	border: 0px;
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--main-foreground-color);
	text-overflow: ellipsis;
}

#list {
	width: 100%;
	height: calc(100% - 60px);
	overflow-y: auto;
	position: relative;
}

.filter_results {
	display: none;
}

#entry_loading {
	font-family: "Josefin Sans", sans-serif;
	color: var(--secondary-foreground-color);
	text-align: center;
	height: 35px;
	font-size: 100%;
	line-height: 35px;
}

.super_parent {
	width: 100%;
	height: 0px;
	box-sizing: border-box;
	overflow: hidden;
	transition-property: height;
	transition-duration: 0.5s;
	position: relative;
    border-bottom: solid 1px var(--main-border-color);
}

.parent {
	box-sizing: border-box;
    width: 100%;
    height: 35px;
	position: relative;
	transition: background-color 0.15s;
	background-color: var(--main-background-color);
}

.parent:hover {
	background-color: var(--main-border-color);
}

.parent-left {
	float: left;
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
	visibility: hidden;
	position: relative;
}

.parent-right {
	float: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 100%;
	visibility: hidden;
	position: relative;
}

.expand {
    height: 60%;
    fill: var(--main-background-color);
	visibility: visible;
	transition: fill 0.25s, transform 0.25s;
}

.expand:hover {
    fill: var(--main-foreground-color);
}

.expand.expanded {
	fill: var(--secondary-foreground-color);
	transform: rotate(90deg);
}

.entry_name {
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0);
	max-width: 80%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	transition: margin-left 0.25s;
	margin-left: 2%;
    color: var(--main-foreground-color);
	visibility: visible;
	font-size: 100%;
	font-family: "Josefin Sans", sans-serif;
	text-overflow: ellipsis;
}

.parent:hover .entry_name {
	margin-left: 4%;
}

.restore {
	margin-right: 3%;
    height: 60%;
	transition: fill 0.25s;
    fill: var(--main-background-color);
	visibility: visible;
}

.restore:hover {
	fill: var(--restore-hover-color);
}

.restore:active {
	fill: var(--restore-active-color);
}

.restore_and_remove {
	margin-right: 3%;
    height: 60%;
	transition: fill 0.25s;
    fill: var(--main-background-color);
	visibility: visible;
}

.restore_and_remove:hover {
	fill: var(--restore-and-remove-hover-color);
}

.restore_and_remove:active {
	fill: var(--restore-and-remove-active-color);
}

.remove {
    height: 60%;
	transition: fill 0.25s;
    fill: var(--main-background-color);
	visibility: visible;
	margin-right: 3%;
}

.remove:hover {
	fill: var(--remove-hover-color);
}

.remove:active {
	fill: var(--remove-active-color);
}

.delete_background {
	position: absolute;
	background-color: #ff4252;
	margin-left: 100%;
	width: 0%;
	height: 100%;
	float: right;
	z-index: 0;
	transition-property: margin-left, width;
	transition-duration: 0.4s;
}

.date_parent, .tab_parent {
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	border-top: solid 1px var(--secondary-border-color);
	background-color: var(--main-background-color);
	overflow: hidden;
	position: relative;
	transition-property: background-color;
	transition-duration: 0.15s;
}

.date_literal {
	margin-left: 25px;
	width: calc(50% - 50px);
	color: var(--main-info-color);
}

.date_variable {
	margin-left: 50%;
	width: 50%;
	color: var(--secondary-info-color);
}

.tab_parent {
	transition: height 0.25s;
	transition-delay: 0.25s;
}

.date_parent:hover, .tab_parent:hover {
	background-color: var(--secondary-border-color);
}

.tab_parent.expanded {
	height: 70px;
	transition-delay: 0s;
}

.tab_name_literal {
	margin: 0px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	padding-left: 25px;
	font-size: 100%;
	font-family: "Josefin Sans", sans-serif;
	overflow: hidden;
	width: 25px;
	color: var(--main-foreground-color);
	white-space: nowrap;
	position: absolute;
	transition-property: width;
	transition-duration: 0.25s;
	transition-delay: 0s;
}

.tab_name_literal.expanded {
	width: calc(8% + 25px);
	transition-delay: 0.35s;
}

.tab_url_literal {
	margin: 0px;
	margin-top: 35px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	padding-left: 25px;
	font-size: 100%;
	font-family: "Josefin Sans", sans-serif;
	overflow: hidden;
	width: 25px;
	color: var(--main-foreground-color);
	white-space: nowrap;
	position: absolute;
	transition-property: width;
	transition-duration: 0.25s;
	transition-delay: 0.1s;
}

.tab_url_literal.expanded {
	width: calc(8% + 25px);
	transition-delay: 0.4s;
}

.date_literal, .date_variable, .tab_name, .tab_url {
	margin: 0px;
	box-sizing: border-box;

	height: 35px;

	line-height: 35px;
	font-size: 100%;
	font-family: "Josefin Sans", sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	position: absolute;
}

.tab_name {
	margin-left: 25px;
	width: calc(50% - 25px);
	color: var(--main-foreground-color);

	transition-property: margin-left, width, color;
	transition-duration: 0.25s;
	transition-delay: 0s;
}

.tab_url {
	margin-left: 50%;
	width: 50%;
	color: var(--secondary-foreground-color);

	transition-property: margin-top, margin-left, width;
	transition-duration: 0.25s, 0.25s, 0.25s;
	transition-delay: 0.25s, 0s, 0s;
}

.tab_name.expanded, .tab_url.expanded {
	margin-left: calc(8% + 50px);
	width: calc(92% - 50px);
}

.tab_name.expanded {
	color: var(--secondary-foreground-color);
	transition-delay: 0.25s;
}

.tab_url.expanded {
	margin-top: 35px;
	transition-delay: 0s, 0.25s, 0.25s;
}

.date_literal {
	margin-left: 25px;
	width: calc(50% - 50px);
	color: var(--main-info-color);
}

.date_variable {
	margin-left: 50%;
	width: 50%;
	color: var(--secondary-info-color);
}
