<div id="$ID" class="super_parent">
	<div class="window parent">
		<div class="delete_background"></div>
		<div class="sub_parent left">
			<input id="tempEntryNameId" class="entry_name" value="$VALUE"></input>
			$EXPAND
		</div>
		<div class="sub_parent right">
			$RESTORE
			$RESTORE_AND_REMOVE
			$REMOVE
		</div>
	</div>
</div>